<br />
<header class="masthead bg-primary text-white text-center">
  <div class="container">
    <br />
    <h2 class="text-uppercase mb-0">Products Available V1</h2>

    <hr class="star-light" />
  </div>
</header>

<div class="container">
  <table class="table table-striped">
    <thead>
      <th>No.</th>
      <th>Name</th>
      <th>Identy</th>
      <th>Position</th>
      <th>Description</th>
      <th>Unit Price</th>
      <!-- <th>Status</th> -->
      <th>Purchase Date</th>

      <th colspan="2">Actions</th>
    </thead>
    <tbody>
      <tr *ngFor="let worker of workers; let x = index">
        <td>{{ x + 1 }}</td>
        <td>{{ worker.name }}</td>
        <td>{{ worker.id }}</td>
        <td>{{ worker.post }}</td>
        <td>{{ worker.dept }}</td>
        <td>CZK {{ worker.salary }}</td>
        <!-- <td>{{ worker.status }}</td> -->
        <td>{{ worker.createdat | date: "medium" }}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteItem(worker)">
            Delete
          </button>
          <button class="btn btn-primary" (click)="saveOrUpdateItem(worker)">
            Update
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" (click)="createItem()">
    Add new Product
  </button>
</div>

<hr />
<footer class="container-fluid bg-4 text-center">
  <p>2020 Copyright Ⓒ Linos Nchena : All Rights Reserved</p>
</footer>
