<br>
<header class="masthead bg-primary text-white text-center">
  <div class="container"><br>
    <h2 class="text-uppercase mb-0">ENTRY TO DEPARTMENT </h2>
    <hr class="star-light">
  </div>
</header>

<div class="container">

    <form (ngSubmit) = "completeForm()">
      <div class="form group">
      <label for="id"> Identity Number INVISIBLE</label> 
    </div>  

    <div class="form group">
        <label for="name"> FULL-NAME</label>
        <input type="text" name="fname"  class="form-control" [(ngModel)]="worker.name">
    </div>

    <div class="form group">
        <label for="post">POSITION</label> 
        <select name="post"  class="form-control" [(ngModel)]="worker.post">
          <option value="computing">Administrator</option>
          <option value="accounting">Lecturer</option>
          <option value="humanresource">Contractor</option>
          <option value="finance">Labourer</option>       
          <option value="others">Others- Please Specify Below</option></select>
    </div>  
    
    <div class="form group">
        <label for="dept">JOB DEPARTMENT</label>
        <select name="dept"  class="form-control" [(ngModel)]="worker.dept">
          <option value="computing">Computing</option>
          <option value="accounting">Accounting</option>
          <option value="humanresource">Human Resource</option>
          <option value="finance">Finance</option>       
          <option value="others">Others- Please Specify Below</option></select>
    </div>
    
    <div class="form group">
        <label for="salary">SALARY</label>
        <input type="text" name="nname" class="form-control" [(ngModel)]="worker.salary">
    </div>
    
    <div class="form group">
      <label for="status">STATUS</label>
      <input type="text" name="status" class="form-control" [(ngModel)]="worker.status">
    </div>    

    <div class="form group">
      <label for="createdt">CREATED AT</label>
      <input type="hide" name="createdt" class="form-control" [(ngModel)]="worker.createdt">
    </div> 
  
     <input type="submit" value="save" class="btn btn-success">
    </form>
  </div>
