<br>
<header class="masthead bg-primary text-white text-center">
  <div class="container"><br>
    <h2 class="text-uppercase mb-0"> DETAILS OF BANKERS 2011X</h2>
    <hr class="star-light">
  </div>
</header>
<button class="btn btn-primary" (click)="addBanker()">Add new entry to the Room</button>
<div class="container">
  <table class="table table-striped">
    <thead>
      <th>No.</th>
      <th>Name</th>
      <th>Post</th>
      <th>Dept</th>
      <th>Salary</th>
      <th>Status </th>
      <th colspan="2">Actions</th>
    </thead>
    <tbody>
      <tr *ngFor="let worker of products">
        <td>{{worker.id}}</td>
        <td>{{worker.name}}</td>
        <td>{{worker.post}}</td>
        <td>{{worker.dept}}</td>
        <td>{{worker.salary}}</td>
        <td>{{worker.published}}</td>
        <td>
          <button class="btn btn-danger" (click)="editBanker(worker)">Delete</button>
          <button class="btn btn-warning" (click)="editBanker(worker)">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" (click)="addBanker()">Add new entry to the Room</button>

</div>
<br><br>